#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define BASE   0
#define NAV    1
#define NUMSYM 2
#define WM     3

/ {

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;

            tapping-term-ms = <180>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";

            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_tab {
            timeout-ms = <30>;
            key-positions = <16 17>; // J K
            bindings = <&kp TAB>;
        };

        combo_undo {
            timeout-ms = <30>;
            key-positions = <11 12>; // S D
            bindings = <&kp LG(Z)>;
        };

        combo_redo {
            timeout-ms = <30>;
            key-positions = <17 18>; // K L
            bindings = <&kp LG(LS(Z))>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            bindings = <
            &kp Q    &kp W    &kp E    &kp R    &kp T        &kp Y    &kp U    &kp I    &kp O    &kp P
            &hm LGUI A &hm LALT S &hm LCTRL D &hm LSHIFT F &kp G
                                                                    &kp H &hm LSHIFT J &hm LCTRL K &hm LALT L &hm LGUI SEMI
            &kp Z    &kp X    &kp C    &kp V    &kp B        &kp N    &kp M    &kp COMMA &kp DOT &kp FSLH

            // tap Esc, hold WM layer
                                      &lt WM ESC
                                      &lt NUMSYM ENTER
                                      &lt NAV SPACE
                                      &kp BSPC
            >;
        };

        nav_layer {
            bindings = <
            &kp TAB  &trans   &trans   &trans   &trans       &kp HOME &kp PG_DN &kp PG_UP &kp END &kp BSPC
            &kp ESC  &trans   &trans   &trans   &trans       &kp LEFT &kp DOWN &kp UP   &kp RIGHT &kp ENTER
            &trans   &trans   &trans   &trans   &trans       &kp LA(LEFT) &kp LA(RIGHT) &kp LG(LEFT) &kp LG(RIGHT) &kp DEL
                                      &trans   &trans         &trans   &trans
            >;
        };

        numsym_layer {
            bindings = <
            &kp TAB  &kp N2   &kp N3   &kp N4   &kp N5       &kp N6   &kp N7   &kp N8   &kp N9   &kp BSPC
            &kp ESC  &kp N1   &kp LPAR &kp RPAR &kp MINUS    &kp EQUAL &kp LBKT &kp RBKT &kp N0  &kp ENTER
            &kp GRAVE &kp LS(GRAVE) &kp LBRC &kp RBRC &kp LS(MINUS)
                                                                  &kp LS(EQUAL) &kp BSLH &kp LS(BSLH) &kp APOS &kp LS(APOS)

            // hold NUMSYM with left thumb, use right outer thumb as Shift
                                      &trans   &trans         &kp LSHIFT    &trans
            >;
        };

        wm_layer {
            bindings = <
            // Plain keys only. Hammerspoon will interpret these while this layer is held.
            &kp Q    &kp W    &kp E    &kp R    &kp T        &kp Y    &kp U    &kp I    &kp O    &kp P
            &kp A    &kp S    &kp D    &kp F    &kp G        &kp H    &kp J    &kp K    &kp L    &kp SEMI
            &kp Z    &kp X    &kp C    &kp V    &kp B        &kp N    &kp M    &kp COMMA &kp DOT &kp FSLH
                                      &trans   &trans         &trans   &trans
            >;
        };
    };
};
